@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Condensed+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    border: none;
    font-family: "Special Gothic Condensed One", sans-serif;
}